<div class="container-fluid">
  <div class="help-section">
    <h2>
      How We Can <span>Help You</span>
    </h2>
    <div class="help-content">
      <div class="help-category">
        <h3>IT Services</h3>
        <div class="help-item">
          <div class="icon"><span>&#9673;</span></div>
          <div class="info">
            <h4>Dedicated Team</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="help-item">
          <div class="icon"><span>&#128276;</span></div>
          <div class="info">
            <h4>QA and Testing</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="help-item">
          <div class="icon"><span>&#128193;</span></div>
          <div class="info">
            <h4>SaaS</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="help-category">
        <h3>IT Solutions</h3>
        <div class="help-item">
          <div class="icon"><span>&#9881;</span></div>
          <div class="info">
            <h4>Blockchain</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="help-item">
          <div class="icon"><span>&#9889;</span></div>
          <div class="info">
            <h4>Artificial Intelligence</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="help-item">
          <div class="icon"><span>&#128278;</span></div>
          <div class="info">
            <h4>Internet of Things</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  