<div class="projects-section">
    <h2>Latest Projects</h2>
    <div class="projects-container">
      <div *ngFor="let project of visibleProjects" class="project-card">
        <div class="project-image">
          <img [src]="project.image" alt="Project image" />
        </div>
        <div class="project-content">
          <h3>{{ project.title }}</h3>
          <p>by: <span class="author">{{ project.author }}</span></p>
          <p class="description">{{ project.description }}</p>
        </div>
      </div>
    </div>
  
    <!-- Pagination Buttons -->
    <div class="pagination-buttons">
      <button class="prev" (click)="goToPrevious()">Previous</button>
      <button class="next" (click)="goToNext()">Next</button>
    </div>
  
  </div>
  